@model IEnumerable<Web.Models.UserModel>

@{
    ViewBag.Title = "UserManagement";
}

<h2>UserManagement</h2>

<div class="col-md-8 col-md-offset-2" style="margin-top: 20px">
    <table class="table">
        <tr>
            <th>User name</th>
            <th>Role</th>
            <th>Set role</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            @using (Html.BeginForm("EditRoles", "Management", FormMethod.Post))
            {
            <td>
                <input type="hidden" value="@item.Id" name="id" />
                <select class="form-control" name="role">
                @foreach (var el in ViewBag.Roles.Items)
                {
                    <option @(item.Role == el ? "selected" : "")>@el</option>
                }
                </select>
            </td>
            <td>
                <button type="submit" class="btn btn-success btn-sm-marko">Save</button>
            </td>
            }
        </tr>
        }
    </table>
</div>
