@model Web.Models.LoginModel

<link rel="stylesheet" href="~/Content/animate.css">
<link rel="stylesheet" href="~/Content/style.css">

<div class="container">

    <div class="login-box animated fadeInUp">
        <div class="box-header">
            <h2>Log In</h2>
        </div>
        @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger", style = "margin-bottom: 0px" })
            <br />
        @Html.LabelFor(model => model.Email)
        <br />
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "example@mail.com", style = "margin-bottom: 5px" } })
            <br />
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger"})
            <br/>
        @Html.LabelFor(model => model.Password)
        <br />
        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "Password", style = "margin-bottom: 5px" } })
            <br/>
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger"})
        <br />
        <button type="submit">Sign In</button>
        <br />
}
        @*<label for="username">Username</label>
        <br />
        <input type="text" id="username">
        <br />
        <label for="password">Password</label>
        <br />
        <input type="password" id="password">*@

    </div>
</div>

<script>
    $(document).ready(function () {
        $('#logo').addClass('animated fadeInDown');
        $("input:text:visible:first").focus();
    });
    $('#username').focus(function () {
        $('label[for="username"]').addClass('selected');
    });
    $('#username').blur(function () {
        $('label[for="username"]').removeClass('selected');
    });
    $('#password').focus(function () {
        $('label[for="password"]').addClass('selected');
    });
    $('#password').blur(function () {
        $('label[for="password"]').removeClass('selected');
    });
</script>