@model Web.Models.RegisterModel

<section id="cover" style="background-color:white">
    <div id="cover-caption">
        <div id="container" class="container">
            <div class="col-md-12 text-center" style="margin: 100px auto">
                <h2 style="margin-bottom: 40px">Sign In</h2>
                <div class="info-form">
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "justify-content-center", style = "margin: 10px auto" }))
                    {
                        @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group justify-content-center" style="margin-bottom:5px">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { style = "margin: 10px; margin-bottom: 0px" })
                            <div class="col-md-12 form-inline">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "example@mail.com", style = "margin: 5px auto" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group justify-content-center" style="margin-bottom:5px">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { style = "margin: 10px; margin-bottom: 0px" })
                            <div class="col-md-12 form-inline">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password", style = "margin: 5px auto" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group justify-content-center" style="margin-bottom:5px">
                            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { style = "margin: 10px; margin-bottom: 0px" })
                            <div class="col-md-12 form-inline">
                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Password", style = "margin: 5px auto" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group justify-content-center" style="margin-bottom:5px">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { style = "margin: 10px; margin-bottom: 0px" })
                            <div class="col-md-12 form-inline">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Name", style = "margin: 5px auto" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group justify-content-center">
                            <div class="col-md-12">
                                <input type="submit" value="Sign In" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>