@model Web.Models.AddImageModel

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="content"><strong>Add images</strong></h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("AddImage", "Images", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="albumId" value="@ViewBag.AlbumId"/>
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(x => x.files, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @*<input type="file" multiple accept="image/*" name="files" class="form-control" data-val="true" data-val-required="Please select file" />*@
                            @Html.TextBoxFor(m => m.files, new { type = "file", multiple="multiple",  accept = "image/*", @class="form-control" })
                            @Html.ValidationMessageFor(model => model.files, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.tags, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.tags, "", new { @class = "form-control", placeholder = "tag1 tag2 tag3" })
                            @Html.ValidationMessageFor(model => model.tags, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Add" class="btn btn-success" />
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.validator.unobtrusive.parse((document).getElementsByTagName("form"));
    });
</script>