@model PagedList.IPagedList<Web.Models.ImageModel>
@using PagedList.Mvc;

<!-- Modal window-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
</div>
<!--End modal-->

<div class="loader" id="loader" style="display:block"></div>
<div id="bodycontent" style="display:none">

    @if (ViewBag.IsIndex)
    {
        <div style="margin-top: 20px">
            <button class="btn btn-success modal-link btn-md-marko" data-link="/Images/AddImage?albumId=@ViewBag.AlbumId">Add image</button>
            @if (ViewBag.Description != null)
            {
                <button type="button" class="btn btn-default btn-md-marko" data-toggle="collapse" data-target="#desc">Show description</button>
                <div style="margin-top: 20px; font-size: medium" id="desc" class="collapse">
                    @ViewBag.Description
                </div>
            }
        </div>
    }
    @if (ViewBag.IsSearchResult)
    {
        <div style="margin-top: 20px">
            <h3>
                Search results for <code>@ViewBag.Tag</code>
            </h3>
            @if (Model.Count <= 0)
            {
                <h2>
                    No results
                </h2>
            }
        </div>
    }
    @if (ViewBag.IsManagement)
    {
        <div class="alert alert-success">
            <h4>Media management</h4>
        </div>        
    }

    <div class="row" style="margin-top:20px">

        @foreach (var img in Model)
        {

            string text = "";
            foreach (var tag in img.Tags)
            {
                text += "<a href=\"/Images/Search?tags=" + @tag + "\">#" + @tag + "</a> &nbsp;";
            }

            <div class="col-md-2 col-xs-8 col-sm-4">
                <div class="thumbnail" style="margin-bottom: 20px">
                    <div class="img-page-cover">
                        <a data-trigger="preview" href="data:image;base64,@System.Convert.ToBase64String(img.Img)" data-fancybox="preview">
                            <img class="img-thumb-body" src="data:image;base64,@System.Convert.ToBase64String(img.Img)">
                        </a>
                    </div>
                    <div style="margin-top:10px; margin-left:10px">
                        <p>
                            <button type="button" class="btn btn-default" data-toggle="popover" title="Tags" data-content="@text" @(img.Tags.Count <= 0 ? "disabled" : "enabled")>Tags</button>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <button data-link="/Images/Like/@img.Id" class="btn btn-default like-button">
                                    @if (img.IsLiked)
                                    {
                                        <i class="fa fa-heart" style="color: #cf0020"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-heart" style="color: #000000"></i>
                                    }
                                    <span>@img.Likes</span>
                                </button>
                            }

                            @if (img.IsMy && !ViewBag.IsManagement)
                            {
                                <button class="btn btn-link modal-link fa fa-trash" title="Remove" data-link="/Images/RemoveImage/@img.Id"></button>
                            }
                            @if (ViewBag.IsManagement)
                            {
                                <button class="btn btn-default modal-link" data-link="/Management/AddTags?imgId=@img.Id" title="Edit tags"><span class="fa fa-edit"></span></button>
                            }

                        </p>
                    </div>
                </div>
            </div>
        }
    </div>

    @if (ViewBag.IsIndex)
    {
        @Html.PagedListPager(Model, page => Url.Action("Index", "Images", new { ViewBag.AlbumId, page }))
    }
    else if (ViewBag.IsSearchResult)
    {
        @Html.PagedListPager(Model, page => Url.Action("Search", "Images", new { ViewBag.Tag, page }))
    }
    else if (ViewBag.IsManagement)
    {
        @Html.PagedListPager(Model, page => Url.Action("Manage", "Images", new { page }))
    }
    else if (ViewBag.IsFavourites)
    {
        @Html.PagedListPager(Model, page => Url.Action("Favourites", "Images", new { page }))
    }

</div>

<script type="text/javascript">
            $(document).ready(
                ShowModal(),
                ShowPopover()
            );

            window.onload = function () {
                document.getElementById("loader").style.display = "none";
                document.getElementById("bodycontent").style.display = "block";
            };

            function ShowModal() {
                $(".modal-link").click(function () {
                    var btn = $(this);
                    $.get(btn.data("link"), function (data) {
                        $("#myModal").html(data);
                        $("#myModal").modal();
                    })
                });
            }

            function ShowPopover() {
                $('[data-toggle="popover"]').popover({
                    placement: 'top',
                    trigger: 'focus',
                    html: true
                });
            }
</script>
