@model PagedList.IPagedList<Web.Models.ImageModel>
@using PagedList.Mvc;

<!-- Modal window-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
</div>
<!--End modal-->

<div class="loader" id="loader" style="display:block"></div>
<div id="bodycontent" style="display:none">

    @if (ViewBag.IsIndex)
    {
        <button style="margin-top: 20px; margin-bottom:20px" class="btn btn-success modal-link" data-link="/Images/AddImage?albumId=@ViewBag.AlbumId">Add image</button>
    }

    <div class="row" style="margin-top:20px">
        @foreach (var img in Model)
        {

            string text = "";
            foreach (var tag in img.Tags)
            {
                text += "<a href=\"/Images/Search?tag=" + @tag + "\">#" + @tag + "</a> &nbsp;";
            }

            <div class="col-md-2">
                <div class="thumbnail" style="margin-bottom: 20px">
                    <a data-trigger="preview" href="data:image;base64,@System.Convert.ToBase64String(img.Img)" data-fancybox="preview">
                        <img src="data:image;base64,@System.Convert.ToBase64String(img.Img)" style="height:200px; width:200px">
                    </a>
                    <div style="margin-top:10px; margin-left:10px">
                        <p>
                            <button type="button" class="btn btn-default" data-toggle="popover" title="Tags" data-content="@text">Show tags</button>
                            <button data-link="/Images/Like/@img.Id" class="btn btn-default like-button">
                                @if (img.IsLiked)
                                {
                                    <i class="fa fa-heart" style="color: #cf0020"></i>
                                }
                                else
                                {
                                    <i class="fa fa-heart" style="color: #000000"></i>
                                }
                                <span>@img.Likes</span>
                            </button>

                            @if (img.IsMy && !ViewBag.IsManagement)
                            {
                                <button class="btn btn-link modal-link fa fa-trash" title="Remove" data-link="/Images/RemoveImage/@img.Id"></button>
                            }
                            @if (ViewBag.IsManagement)
                            {
                                <button class="btn btn-success fa fa-plus modal-link" data-link="/Management/AddTags?imgId=@img.Id" title="Edit tags"></button>
                            }

                        </p>
                    </div>
                </div>
            </div>
        }
    </div>

    @if (ViewBag.IsIndex)
    {
        @Html.PagedListPager(Model, page => Url.Action("Index", "Images", new { ViewBag.AlbumId, page }))
    }
    else if (ViewBag.IsSearchResult)
    {
        @Html.PagedListPager(Model, page => Url.Action("Search", "Images", new { ViewBag.Tag, page }))
    }
    else if (ViewBag.IsManagement)
    {
        @Html.PagedListPager(Model, page => Url.Action("Manage", "Images", new { ViewBag.Tag, page }))
    }
    else if (ViewBag.IsFavourites)
    {
        @Html.PagedListPager(Model, page => Url.Action("Favourites", "Images", new { page }))
    }

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".modal-link").click(function () {
            var btn = $(this);
            $.get(btn.data("link"), function (data) {
                $("#myModal").html(data);
                $("#myModal").modal();
            })
        });
    }, ShowPopover());

    window.onload = function () {
        document.getElementById("loader").style.display = "none";
        document.getElementById("bodycontent").style.display = "block";
    };

    function ShowPopover() {
        $('[data-toggle="popover"]').popover({
            placement: 'top',
            trigger: 'focus',
            html: true
        });
    }
</script>