<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhotoGO</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <link rel="stylesheet" type="text/css" href="~/Content/ItemsStyles.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Loader.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/font-awesome.css" />

    <script src="/scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="/scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="~/Content/jquery.fancybox.css">
    <script type="text/javascript" src="~/Scripts/jquery.fancybox.js"></script>
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    <link href='@Url.Content("~/Content/themes/base/all.css")' rel="stylesheet" type="text/css" />
    <script src='@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")' type="text/javascript"></script>

    <link href="~/Other/base.css" rel="stylesheet" type="text/css" />
    <link href="~/Other/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Other/custom.css" rel="stylesheet" type="text/css" />
    <link href="~/Other/highlight.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="~/Other/base.js"></script>
    <script type="text/javascript" src="~/Other/highlight.pack.js"></script>
    <script type="text/javascript" src="~/Other/bootstrap-select.min.js"></script>

    <script src="/Scripts/likeButton.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("PhotoGO", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("admin"))
                    {
                        <li>@Html.ActionLink("Manage users", "Users", "Management")</li>
                    }
                    @if (User.IsInRole("moderator") || User.IsInRole("admin"))
                    {
                        <li>@Html.ActionLink("Manage media", "Manage", "Images")</li>
                    }

                    <li class="dropdown">
                        <a data-toggle="collapse" data-target="#demo" trigger="focus" href="#"> Search</a>
                        <form class="navbar-form collapse" id="demo" action="/Images/Search" style="width:300px">
                            <div class="input-group">
                                @*<input type="text" id="search-box-tags" class="form-control" placeholder="Search" name="tags">*@

                                <!--------------------------------------------------------------------------->
                                <div id="tags-list-container" class="btn-group bootstrap-select show-tick">
                                    <select id="tags-list" role="textbox" class="selectpicker" multiple="" name="tags" tabindex="-98">
                                        @*<option>cat</option>
                                        <option>mrrr</option>*@
                                    </select>
                                </div>
                                <!--------------------------------------------------------------------------->

                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Log In", "Login", "Account")</li>
                        <li>@Html.ActionLink("Sign In", "Register", "Account")</li>
                    }
                    else
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"> @User.Identity.Name <span class="caret"></span></a>
                            <ul class="dropdown-menu" id="dropdown">
                                <li>@Html.ActionLink("Albums", "Index", "Albums")</li>
                                <li>@Html.ActionLink("Favourites", "Favourites", "Images")</li>
                                <li>@Html.ActionLink("Settings", "Settings", "Profile")</li>
                            </ul>
                        </li>

                        <li>@Html.ActionLink("Log Out", "Logout", "Account")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
    </div>

    <!---BUG BUG BUG BUG BUG BUG BUG BUG-->
    <!--Do not show selected items in the list-->
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function (event) {
            url = '/Images/GetTags';
            var text1 = '';
            var text2 = '';

            $.get(url, function (data) {
                $.each(data, function (key, value) {
                    text1 += "<option>" + value + "</option>";
                    text2 += "<li /*onclick='SetSelected()'*/ data-original-index='" + key + "' class='' ><a tabindex='0' data-tokens='null' role='option' aria-disabled='false' aria-selected='false' class=''><span class='text'>" + value + "</span><span class='glyphicon glyphicon-ok check-mark'></span></a></li>";
                });
                var doc = document.getElementById("tags-list");
                var doc2 = document.getElementById("tags-list-container").getElementsByTagName("ul")[0];
                $(doc).html(text1);
                $(doc2).html(text2);
            });
        });

        //function SetSelected() {
        //    var btn = $(this);
        //    var a = document.getElementsByTagName('a')[0];
        //    $(btn).toggleClass("selected");
        //}
    </script>
</body>
</html>


