<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhotoGO</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
    <link rel="stylesheet" href="~/Content/ItemsStyles.css" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("PhotoGO", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("admin"))
                    {
                        <li>@Html.ActionLink("Manage", "Manage", "Management")</li>
                    }
                </ul>

                <ul class="nav navbar-nav navbar-right">
                @if (!User.Identity.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Log In", "Login", "Account")</li>
                    <li>@Html.ActionLink("Sign In", "Register", "Account")</li>
                }
                else
                {
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"> @User.Identity.Name <span class="caret"></span></a>
                        <ul class="dropdown-menu" id="dropdown">
                            <li>@Html.ActionLink("Albums", "Albums", "Profile")</li>
                            <li>@Html.ActionLink("Favourites", "Favourites", "Profile")</li>
                            <li>@Html.ActionLink("Settings", "Settings", "Profile")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Log Out", "Logout", "Account")</li>
                }
                </ul>
            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#dropdown").click(function () {
                document.getElementById("loader").style.display = "block";
                document.getElementById("bodycontent").style.display = "none";
            });
        });
    </script>
</body>
</html>
